@charset "UTF-8";
/* ***********************
* Colors
*********************** */
/* ***********************
* Padding/Margin
*********************** */
/* ***********************************************
* Mixin - Breakpoints 
*
* Direitos - https://css-tricks.com/conditional-media-query-mixins/
*
* *********************************************** */
/* *******************************
* Body
******************************* */
/* line 8, ../scss/style.scss */
body {
  margin: 0;
}

/* *******************************
* Header - Cabeçalho
******************************* */
/* line 18, ../scss/style.scss */
header .head {
  background: #053957;
}
/* line 21, ../scss/style.scss */
header .head .head-content {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 25, ../scss/style.scss */
header .head .head-content .content-contact {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
@media (max-width: 1024px) {
  /* line 25, ../scss/style.scss */
  header .head .head-content .content-contact {
    flex-direction: column;
    align-items: center;
  }
}
/* line 36, ../scss/style.scss */
header .head .head-content .content-contact a {
  color: #fff;
}
/* line 40, ../scss/style.scss */
header .head .head-content .content-contact li {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  /* line 40, ../scss/style.scss */
  header .head .head-content .content-contact li {
    margin-bottom: 5px;
  }
}
/* line 55, ../scss/style.scss */
header .header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  /* line 55, ../scss/style.scss */
  header .header {
    flex-direction: column;
    padding: 30px 0 0;
  }
}
/* line 66, ../scss/style.scss */
header .header .logo-header {
  flex: 0 0 40%;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  /* line 71, ../scss/style.scss */
  header .header .logo-header img {
    width: 290px;
  }
}
/* line 76, ../scss/style.scss */
header .header .logo-header:hover {
  transition: 300ms;
  opacity: 0.8;
}
/* line 82, ../scss/style.scss */
header .header .list-header {
  flex: 0 0 60%;
}
/* line 85, ../scss/style.scss */
header .header .list-header ul.list-menus {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}
@media (max-width: 1024px) {
  /* line 85, ../scss/style.scss */
  header .header .list-header ul.list-menus {
    flex-wrap: wrap;
    padding: 0 40px;
  }
}
/* line 94, ../scss/style.scss */
header .header .list-header ul.list-menus li {
  list-style-type: none;
}
@media (max-width: 1024px) {
  /* line 94, ../scss/style.scss */
  header .header .list-header ul.list-menus li {
    margin: 10px;
  }
}
/* line 100, ../scss/style.scss */
header .header .list-header ul.list-menus li a {
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
}
/* line 105, ../scss/style.scss */
header .header .list-header ul.list-menus li a:hover {
  color: #0A6FA5;
}
/* line 110, ../scss/style.scss */
header .header .list-header ul.list-menus li a.active {
  color: #0A6FA5;
}

/* *******************************
* Main
******************************* */
/* line 129, ../scss/style.scss */
main .info-empresa {
  display: none;
}
@media (max-width: 1024px) {
  /* line 129, ../scss/style.scss */
  main .info-empresa {
    display: block;
    text-align: center;
    color: #fff;
    background: #053957;
    padding: 20px;
    margin-top: -1px;
  }
  /* line 139, ../scss/style.scss */
  main .info-empresa h2 {
    font-size: 30px;
    font-weight: 400;
  }
}
/* line 146, ../scss/style.scss */
main .carousel-item-next,
main .carousel-item-prev,
main .carousel-item.active {
  transition: 2s;
}
/* line 152, ../scss/style.scss */
main .carousel-control-next-icon,
main .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* line 158, ../scss/style.scss */
main .carousel-control-next,
main .carousel-control-prev {
  width: 5%;
}
@media (max-width: 1024px) {
  /* line 158, ../scss/style.scss */
  main .carousel-control-next,
  main .carousel-control-prev {
    display: none;
  }
}
/* line 166, ../scss/style.scss */
main .main-content {
  max-width: 1200px;
  margin: 20px auto;
}
/* line 170, ../scss/style.scss */
main .main-content .block-description {
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  /* line 170, ../scss/style.scss */
  main .main-content .block-description {
    flex-wrap: wrap;
  }
}
/* line 177, ../scss/style.scss */
main .main-content .block-description .block-left,
main .main-content .block-description .block-middle,
main .main-content .block-description .block-right {
  position: relative;
  cursor: pointer;
}
/* line 183, ../scss/style.scss */
main .main-content .block-description .block-left .block-content,
main .main-content .block-description .block-middle .block-content,
main .main-content .block-description .block-right .block-content {
  padding: 5px;
}
/* line 186, ../scss/style.scss */
main .main-content .block-description .block-left .block-content .capa,
main .main-content .block-description .block-middle .block-content .capa,
main .main-content .block-description .block-right .block-content .capa {
  background: rgba(5, 59, 87, 0.7);
  width: 350px;
  height: 290px;
  position: absolute;
}
@media (max-width: 1024px) {
  /* line 186, ../scss/style.scss */
  main .main-content .block-description .block-left .block-content .capa,
  main .main-content .block-description .block-middle .block-content .capa,
  main .main-content .block-description .block-right .block-content .capa {
    width: 320px;
    height: 265px;
  }
}
@media (max-width: 320px) {
  /* line 186, ../scss/style.scss */
  main .main-content .block-description .block-left .block-content .capa,
  main .main-content .block-description .block-middle .block-content .capa,
  main .main-content .block-description .block-right .block-content .capa {
    width: 300px;
    height: 250px;
  }
}
/* line 200, ../scss/style.scss */
main .main-content .block-description .block-left .block-content .capa:hover,
main .main-content .block-description .block-middle .block-content .capa:hover,
main .main-content .block-description .block-right .block-content .capa:hover {
  background: #0A6FA5;
  transition: 800ms;
}
@media (max-width: 1024px) {
  /* line 207, ../scss/style.scss */
  main .main-content .block-description .block-left .block-content img,
  main .main-content .block-description .block-middle .block-content img,
  main .main-content .block-description .block-right .block-content img {
    width: 320px;
  }
}
@media (max-width: 320px) {
  /* line 207, ../scss/style.scss */
  main .main-content .block-description .block-left .block-content img,
  main .main-content .block-description .block-middle .block-content img,
  main .main-content .block-description .block-right .block-content img {
    width: 300px;
  }
}
/* line 218, ../scss/style.scss */
main .main-content .block-description .block-left .block-title-top,
main .main-content .block-description .block-middle .block-title-top,
main .main-content .block-description .block-right .block-title-top {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 30px;
}
@media (max-width: 1024px) {
  /* line 218, ../scss/style.scss */
  main .main-content .block-description .block-left .block-title-top,
  main .main-content .block-description .block-middle .block-title-top,
  main .main-content .block-description .block-right .block-title-top {
    font-size: 25px;
  }
}
/* line 230, ../scss/style.scss */
main .main-content .block-description .block-left .block-title-bottom,
main .main-content .block-description .block-middle .block-title-bottom,
main .main-content .block-description .block-right .block-title-bottom {
  position: absolute;
  top: 70%;
  width: 100%;
  color: #fff;
  font-size: 30px;
  text-align: center;
}
/* line 239, ../scss/style.scss */
main .main-content .block-description .block-left .block-title-right,
main .main-content .block-description .block-middle .block-title-right,
main .main-content .block-description .block-right .block-title-right {
  position: absolute;
  top: 45%;
  right: 0%;
  color: #fff;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 239, ../scss/style.scss */
  main .main-content .block-description .block-left .block-title-right,
  main .main-content .block-description .block-middle .block-title-right,
  main .main-content .block-description .block-right .block-title-right {
    top: 35%;
    font-size: 25px;
  }
}
/* line 253, ../scss/style.scss */
main .main-content .block-description .block-left .block-title-top, main .main-content .block-description .block-left .block-title-left, main .main-content .block-description .block-left .block-title-right,
main .main-content .block-description .block-middle .block-title-top,
main .main-content .block-description .block-middle .block-title-left,
main .main-content .block-description .block-middle .block-title-right,
main .main-content .block-description .block-right .block-title-top,
main .main-content .block-description .block-right .block-title-left,
main .main-content .block-description .block-right .block-title-right {
  text-transform: uppercase;
}
/* line 261, ../scss/style.scss */
main .main-content .block-description .block-right .block-content .capa-right {
  background: rgba(5, 59, 87, 0.7);
  position: absolute;
  width: 345px;
  height: 591px;
}
@media (max-width: 1024px) {
  /* line 261, ../scss/style.scss */
  main .main-content .block-description .block-right .block-content .capa-right {
    height: 265px;
    width: 320px;
  }
}
@media (max-width: 320px) {
  /* line 261, ../scss/style.scss */
  main .main-content .block-description .block-right .block-content .capa-right {
    width: 300px;
  }
}
/* line 274, ../scss/style.scss */
main .main-content .block-description .block-right .block-content .capa-right:hover {
  background: #0A6FA5;
  transition: 800ms;
}
/* line 280, ../scss/style.scss */
main .main-content .block-description .block-right .block-content img {
  height: 591px;
}
@media (max-width: 1024px) {
  /* line 280, ../scss/style.scss */
  main .main-content .block-description .block-right .block-content img {
    height: 265px;
  }
}
/* line 291, ../scss/style.scss */
main .main-content .blocked {
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}
/* line 296, ../scss/style.scss */
main .main-content .blocked .fas.fa-ban:hover {
  color: #444;
  transition: 500ms;
}
/* line 306, ../scss/style.scss */
main .main-content-02 .info-content {
  display: flex;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
@media (max-width: 1024px) {
  /* line 306, ../scss/style.scss */
  main .main-content-02 .info-content {
    flex-direction: column;
  }
}
/* line 315, ../scss/style.scss */
main .main-content-02 .info-content > div {
  padding: 60px 10px;
}
/* line 318, ../scss/style.scss */
main .main-content-02 .info-content > div .box-titulo {
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 300;
}
/* line 325, ../scss/style.scss */
main .main-content-02 .info-content > div > a {
  color: #fff;
  text-decoration: none;
}
/* line 334, ../scss/style.scss */
main .main-content-02 .info-content .box-middle i.far.fa-arrow-alt-circle-right {
  position: absolute;
  bottom: 10px;
  font-size: 30px;
  transform: translateX(230px);
  opacity: 0;
}
@media (max-width: 1024px) {
  /* line 334, ../scss/style.scss */
  main .main-content-02 .info-content .box-middle i.far.fa-arrow-alt-circle-right {
    display: none;
  }
}
/* line 345, ../scss/style.scss */
main .main-content-02 .info-content .box-middle .fas.fa-pencil-alt {
  font-size: 60px;
  background: #0A6FA5;
  padding: 25px 25px;
  box-shadow: 1px 1px 5px #000;
  color: #fff;
}
/* line 353, ../scss/style.scss */
main .main-content-02 .info-content .box-middle:hover .far.fa-arrow-alt-circle-right {
  opacity: 1;
  transition: 500ms;
}
/* line 360, ../scss/style.scss */
main .main-content-02 .info-content .box-left:first-child {
  background: #053957;
}
/* line 363, ../scss/style.scss */
main .main-content-02 .info-content .box-left:first-child i.far.fa-arrow-alt-circle-right {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  transform: translateX(230px);
  opacity: 0;
}
@media (max-width: 1024px) {
  /* line 363, ../scss/style.scss */
  main .main-content-02 .info-content .box-left:first-child i.far.fa-arrow-alt-circle-right {
    display: none;
  }
}
/* line 375, ../scss/style.scss */
main .main-content-02 .info-content .box-left:first-child .fas.fa-laptop {
  font-size: 60px;
  background: #0A6FA5;
  padding: 25px 20px;
  box-shadow: 1px 1px 5px #000;
  color: #fff;
}
/* line 384, ../scss/style.scss */
main .main-content-02 .info-content .box-left:first-child > div > span {
  color: #fff;
}
/* line 389, ../scss/style.scss */
main .main-content-02 .info-content .box-left:first-child:hover .far.fa-arrow-alt-circle-right {
  opacity: 1;
  transition: 500ms;
}
/* line 396, ../scss/style.scss */
main .main-content-02 .info-content .box-right:last-child {
  background: #053957;
  color: #fff;
}
/* line 400, ../scss/style.scss */
main .main-content-02 .info-content .box-right:last-child i.far.fa-arrow-alt-circle-right {
  position: absolute;
  bottom: 10px;
  transform: translateX(230px);
  font-size: 30px;
  opacity: 0;
}
@media (max-width: 1024px) {
  /* line 400, ../scss/style.scss */
  main .main-content-02 .info-content .box-right:last-child i.far.fa-arrow-alt-circle-right {
    display: none;
  }
}
/* line 411, ../scss/style.scss */
main .main-content-02 .info-content .box-right:last-child .fas.fa-server {
  font-size: 60px;
  background: #0A6FA5;
  padding: 25px 25px;
  box-shadow: 1px 1px 5px #000;
  color: #fff;
}
/* line 419, ../scss/style.scss */
main .main-content-02 .info-content .box-right:last-child:hover .far.fa-arrow-alt-circle-right {
  opacity: 1;
  transition: 500ms;
}
/* line 427, ../scss/style.scss */
main .main-content-02 .ban {
  position: relative;
}
/* line 430, ../scss/style.scss */
main .main-content-02 .ban .blocked {
  position: absolute;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 439, ../scss/style.scss */
main .main-content-02 .ban .blocked .fas.fa-ban:hover {
  color: #444;
  transition: 500ms;
}
/* line 448, ../scss/style.scss */
main .about {
  max-width: 1080px;
  margin: 60px auto 30px;
}
/* line 452, ../scss/style.scss */
main .about .info {
  display: flex;
}
@media (max-width: 1024px) {
  /* line 452, ../scss/style.scss */
  main .about .info {
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: center;
  }
}
/* line 460, ../scss/style.scss */
main .about .info .about-img {
  flex: 0 0 40%;
}
@media (max-width: 320px) {
  /* line 463, ../scss/style.scss */
  main .about .info .about-img img {
    width: 280px;
  }
}
/* line 472, ../scss/style.scss */
main .about .info .block-about .about-title h2 {
  font-size: 22px;
  color: #0A6FA5;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 1024px) {
  /* line 472, ../scss/style.scss */
  main .about .info .block-about .about-title h2 {
    text-align: center;
    margin-top: 30px;
  }
}
/* line 484, ../scss/style.scss */
main .about .info .block-about .about-content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  /* line 484, ../scss/style.scss */
  main .about .info .block-about .about-content {
    align-items: center;
  }
}
/* line 491, ../scss/style.scss */
main .about .info .block-about .about-content span:first-child {
  font-size: 40px;
  color: #053957;
  margin-bottom: 30px;
}
/* line 497, ../scss/style.scss */
main .about .info .block-about .about-content .text-content {
  color: #999;
  font-size: 20px;
}
@media (max-width: 1024px) {
  /* line 497, ../scss/style.scss */
  main .about .info .block-about .about-content .text-content {
    text-align: center;
  }
}
/* line 505, ../scss/style.scss */
main .about .info .block-about .about-content button.button {
  width: 35%;
  min-height: 60px;
  background: #0A6FA5;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  /* line 505, ../scss/style.scss */
  main .about .info .block-about .about-content button.button {
    width: 100%;
  }
}
/* line 518, ../scss/style.scss */
main .about .info .block-about .about-content button.button:hover {
  background: #053957;
  transition: 500ms;
}
/* line 528, ../scss/style.scss */
main .about .blocked {
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}
/* line 533, ../scss/style.scss */
main .about .blocked .fas.fa-ban:hover {
  color: #444;
  transition: 500ms;
}
/* line 540, ../scss/style.scss */
main .contact {
  background: url(../images/fundo-box-04.jpg) no-repeat;
}
@media (max-width: 1024px) {
  /* line 540, ../scss/style.scss */
  main .contact {
    background-position-x: center;
    background-size: cover;
  }
}
/* line 547, ../scss/style.scss */
main .contact .block-contact {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0;
}
@media (max-width: 1024px) {
  /* line 547, ../scss/style.scss */
  main .contact .block-contact {
    flex-direction: column;
    padding: 30px 15px;
  }
}
/* line 557, ../scss/style.scss */
main .contact .block-contact .container-contact {
  flex: 0 0 60%;
}
/* line 560, ../scss/style.scss */
main .contact .block-contact .container-contact form {
  display: flex;
  flex-direction: column;
}
/* line 565, ../scss/style.scss */
main .contact .block-contact .container-contact form .contact-title span {
  font-size: 20px;
  color: #0A6FA5;
}
/* line 570, ../scss/style.scss */
main .contact .block-contact .container-contact form .contact-title h2 {
  color: #053957;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 15px;
}
/* line 578, ../scss/style.scss */
main .contact .block-contact .container-contact form input {
  max-width: 70%;
  min-height: 50px;
  margin-bottom: 20px;
  color: #666;
  background: #eee;
  border: 1px solid #ccc;
  padding-left: 15px;
}
@media (max-width: 1024px) {
  /* line 578, ../scss/style.scss */
  main .contact .block-contact .container-contact form input {
    max-width: 100%;
  }
}
/* line 591, ../scss/style.scss */
main .contact .block-contact .container-contact form button {
  max-width: 70%;
  border: none;
  color: #fff;
  background: #0A6FA5;
  min-height: 50px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  /* line 591, ../scss/style.scss */
  main .contact .block-contact .container-contact form button {
    max-width: 100%;
  }
}
/* line 604, ../scss/style.scss */
main .contact .block-contact .container-contact form button:hover {
  background: #053957;
  transition: 500ms;
}
/* line 613, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-conosco {
  color: #053957;
  font-size: 40px;
  margin-bottom: 15px;
}
/* line 619, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content {
  display: flex;
  flex-direction: column;
}
/* line 623, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content span {
  margin-bottom: 15px;
}
/* line 626, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content span a {
  color: #000;
  font-size: 18px;
}
/* line 630, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content span a:hover {
  color: #0A6FA5;
}
/* line 635, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content span i {
  color: #053957;
  margin-right: 5px;
  font-size: 18px;
}
/* line 642, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content .social-icons {
  margin-top: 15px;
}
/* line 645, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content .social-icons a {
  margin-right: 15px;
}
/* line 648, ../scss/style.scss */
main .contact .block-contact .container-fale-conosco .fale-content .social-icons a i {
  font-size: 30px;
}
/* line 659, ../scss/style.scss */
main .contact .blocked {
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}
/* line 664, ../scss/style.scss */
main .contact .blocked .fas.fa-ban:hover {
  color: #444;
  transition: 500ms;
}

/* ***********************************
*   Footer - Rodapé
*********************************** */
/* line 678, ../scss/style.scss */
.footer {
  max-width: 1080px;
  margin: 0 auto;
}
/* line 682, ../scss/style.scss */
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 1024px) {
  /* line 682, ../scss/style.scss */
  .footer .footer-top {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 15px;
  }
}
/* line 693, ../scss/style.scss */
.footer .footer-top > span {
  font-size: 20px;
}
@media (max-width: 1024px) {
  /* line 693, ../scss/style.scss */
  .footer .footer-top > span {
    margin-bottom: 15px;
  }
}
/* line 699, ../scss/style.scss */
.footer .footer-top > span > a {
  color: #999;
  text-decoration: none;
}
/* line 703, ../scss/style.scss */
.footer .footer-top > span > a:hover {
  color: #0A6FA5;
  transition: 500ms;
}
/* line 711, ../scss/style.scss */
.footer .footer-top .social-icons a {
  margin-right: 15px;
}
/* line 714, ../scss/style.scss */
.footer .footer-top .social-icons a i {
  font-size: 30px;
}
/* line 717, ../scss/style.scss */
.footer .footer-top .social-icons a i:hover {
  transition: 300ms;
  transform: translateY(-20%);
}
/* line 723, ../scss/style.scss */
.footer .footer-top .social-icons a i.fab.fa-facebook-f {
  width: 50px;
  height: 50px;
  background: #053957;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
}
/* line 732, ../scss/style.scss */
.footer .footer-top .social-icons a i.fab.fa-instagram {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #053957;
  color: #fff;
  padding: 10px 11px;
}
/* line 742, ../scss/style.scss */
.footer .footer-top .social-icons a:last-child {
  margin-right: 0;
}

/* ***********************************
*   Whatsapp Fixo
*********************************** */
/* line 754, ../scss/style.scss */
.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 35px;
}
/* line 760, ../scss/style.scss */
.whatsapp .wtp-fixo {
  background: #0A6FA5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px 15px;
}
/* line 767, ../scss/style.scss */
.whatsapp .wtp-fixo a {
  color: #fff;
}
