/* ***********************
* Colors
*********************** */

$c-black: #000;
$c-white: #fff;
$c-blue: #053957;
$c-blue-rgba: rgba(5, 59, 87, 0.7);
$c-blue-light: #0A6FA5;
$c-cinza-claro: #999;
$c-cinza: #444;

/* ***********************
* Padding/Margin
*********************** */

$trim: 30px;
$trim-small: 15px;
$gap: 10px;